<% cache({:locale => Language.locale_id, :format => 'html', :grain_size => @grain_size, :tag_filter => @tag_filter}) do %>
<div id="tag-cloud">
  <fieldset>
    <legend><%= @tag_filter.nil? ? (@grain_size == 'course' ? t('muck.services.courses_tag_cloud_label').html_safe : t('muck.services.resources_tag_cloud_label').html_safe) : t('muck.services.narrow_further') %></legend>
    <% if @tag_cloud.blank? -%>
      <%= t('muck.services.no_tags') %>
    <% else -%>
      <% if @tag_filter %>
        <% tag_cloud @tag_cloud, %w(cloud1 cloud2 cloud3 cloud4 cloud5 cloud6) do |tag, css_class| %>
          <%= filtered_tag_link(tag, @tag_filter, css_class, @grain_size) %>
        <% end %>
      <% else %>
        <% tag_cloud @tag_cloud, %w(cloud1 cloud2 cloud3 cloud4 cloud5 cloud6) do |tag, css_class| %>
          <%= tag_link(tag, css_class, @grain_size) %>
        <% end %>
      <% end %>
    <% end -%>
  </fieldset>
</div>
<% end %>
