<% cache({:locale => Language.locale_id, :format => 'pjs', :grain_size => @grain_size, :q => @search, :omit_feeds => @omit_feeds, :page => @page, :per_page => @per_page}) do %>
<% if !@results.blank? %>
function truncate(text, length) {
    nEnd = text.indexOf(" ", 200);
    if (nEnd < 200) return text;
    else return text.substring(0, nEnd) + " ...";
}
var recs = <%= @results.to_json %>;
var app = "<%= request.protocol + request.host_with_port + '/' %>";
document.write('<div class="oer_recommender_container">');
document.write('<div class="oer_recommender_list">');
for(nRec = 0; nRec < recs.length; nRec++) {
	r = recs[nRec].entry;
    if (r == null) r = recs[nRec].attributes;
    if (r == null) r = recs[nRec];
	document.write('<p class="oer_recommender_item">');
	document.write('<a class="oer_recommender_recommendation_link" href="' + app + 'visits/' + r.id + '">' + r.title + ' (' + r.collection + ')</a>');
    if (r.description) document.write('<br/><span class="oer_recommender_description">' + truncate(r.description) + '</span>');
    document.write('<br/><span class="oer_recommender_uri">' + r.permalink + '</span>');
	document.write('</p>');
}
document.write('</div>');
document.write('</div>');
<% end %>
<% end %>
