<html>
<body style="margin:0;padding:0;">
<div style="padding-bottom:5px;margin:0 1px 0 3px;text-align:center;background-color:white;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><input type='button' value='<%= t('muck.services.get_recommendations') %>' onclick='window.open("<%= "real_time?u=#{@uri}" %>","_self");return false;' /></div>
</body>
</html>