<% cache(@cache_key) do %>
<html>
<body style="margin:0;padding:0;">
  <div style="padding-bottom:5px;margin:0 1px 0 3px;background-color:white;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;">
    <ul style="margin:0 2px 2px;padding:0px;font-family:Arial,Helvetica,sans-serif;">
    <% @recommendations.results.each_with_index do |r, i| %>
    <li style="margin-left: 0px; padding: 3px; list-style-type: none; font-size: 12px; <%= (i % 2 == 0) ? 'background-color:#E6E6E6;' : '' %>">
      <%= link_to "#{r.title} (#{r.collection})", visit_path(r), :target => '_top' %></li>
    <% end %>
    </ul>
  </div>
</body>
</html>
<% end %>