<h2> Un nuovo feed è stato aggiunto alla <%= @application_name %> </h2>
<p> Titolo: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Gestire i feed: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
