<h2> A endpoint ÖÀÎ ġdid ġie miżjud <%= @application_name %> </h2>
<p> Titolu: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Manage feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
