<h2> Một điểm cuối oai mới đã được thêm vào <%= @application_name %> </h2>
<p> Tiêu đề: <%= @oai_endpoint.title %> </p>
<p> Loại: <%= @oai_endpoint.uri %> </p>
<p> Quản lý nguồn cấp dữ liệu: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
