<h2> Jauns oai rezultÄts ir pievienots <%= @application_name %> </h2>
<p> Nosaukums: <%= @oai_endpoint.title %> </p>
<p> Tips: <%= @oai_endpoint.uri %> </p>
<p> Manage feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
