<h2> Нови фид је додат <%= @application_name %> </h2>
<p> Наслов: <%= @feed.title %> </p>
<p> Ури: <%= @feed.uri %> </p>
<p> Управљање извори: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
