<h2> Yeni oai uç <%= @application_name %> eklendi </h2>
<p> Title: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Yönetmek beslemeleri: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
