<h2 style=";text-align:right;direction:rtl"> עדכון חדש נוספה <%= @application_name %> </h2>
<p style=";text-align:right;direction:rtl"> כותרת: <%= @feed.title %> </p>
<p style=";text-align:right;direction:rtl"> אורי: <%= @feed.uri %> </p>
<p style=";text-align:right;direction:rtl"> ניהול הזנות: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
