<h2> Un flux nou a fost adăugat în <%= @application_name %> </h2>
<p> Titlu: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Gestionaţi Feed-uri: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
