<h2> Un nouveau flux a été ajouté à <%= @application_name %> </h2>
<p> Titre: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Gérer les flux: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
