<h2> Naujas oai vertinamoji baigtis buvo įtraukta į <%= @application_name %> </h2>
<p> Pavadinimas: <%= @oai_endpoint.title %> </p>
<p> URI: <%= @oai_endpoint.uri %> </p>
<p> Valdymas kanalai: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
