<h2> Nowy kanał został dodany do <%= @application_name %> </h2>
<p> Tytuł: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Zarządzanie RSS: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
