<h2> Jauna barība ir pievienots <%= @application_name %> </h2>
<p> Nosaukums: <%= @feed.title %> </p>
<p> Tips: <%= @feed.uri %> </p>
<p> Manage feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
