<h2> А новата емисия е добавен към <%= @application_name %> </h2>
<p> Заглавие: <%= @feed.title %> </p>
<p> Юри: <%= @feed.uri %> </p>
<p> Управление на емисии: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
