<h2> Een nieuwe oai eindpunt is toegevoegd aan <%= @application_name %> </h2>
<p> Titel: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Beheer feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
