<h2>一种新的饲料已被添加到<%= @application_name %> </h2>
<p>标题：<%= @feed.title %> </p>
<p>地址：<%= @feed.uri %> </p>
<p>管理供稿：<%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
