<h2> Egy új takarmány egészült ki <%= @application_name %> </h2>
<p> Cím: <%= @feed.title %> </p>
<p> : Uri: <%= @feed.uri %> </p>
<p> Hírcsatornák: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
