<h2> A għalf ġdid ġie miżjud <%= @application_name %> </h2>
<p> Titolu: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Manage feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
