<h2 style=";text-align:right;direction:rtl"> وقال صلى الجديدة نقطة النهاية وقد أضيف إلى <%= @application_name %> </h2>
<p style=";text-align:right;direction:rtl"> العنوان : <%= @oai_endpoint.title %> </p>
<p style=";text-align:right;direction:rtl"> أوري : <%= @oai_endpoint.uri %> </p>
<p style=";text-align:right;direction:rtl"> إدارة يغذي : <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
