<h2> Um ponto de extremidade oai nova foi adicionada ao <%= @application_name %> </h2>
<p> Título: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Gerenciar feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
