<h2> Et nyt foder er blevet tilføjet til <%= @application_name %> </h2>
<p> Titel: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Administrer feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
