<h2> Naujas kanalas buvo įtrauktas į <%= @application_name %> </h2>
<p> Pavadinimas: <%= @feed.title %> </p>
<p> URI: <%= @feed.uri %> </p>
<p> Valdymas kanalai: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
