<h2> Uusi OAI päätepiste on lisätty <%= @application_name %> </h2>
<p> Otsikko: <%= @oai_endpoint.title %> </p>
<p> URI: <%= @oai_endpoint.uri %> </p>
<p> Hallitse syötteet: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
