<h2> Een nieuwe feed is toegevoegd aan <%= @application_name %> </h2>
<p> Titel: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Beheer feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
