<h2>新規はoaiエンドポイント<%= @application_name %>に追加されている</h2>
<p>タイトル：<%= @oai_endpoint.title %> </p>
<p>ウリ：<%= @oai_endpoint.uri %> </p>
<p>管理フィード：<%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
