<h2> Një i ri endpoint ÒÂÏ është shtuar në <%= @application_name %> </h2>
<p> Title: <%= @oai_endpoint.title %> </p>
<p> URI: <%= @oai_endpoint.uri %> </p>
<p> Manage Feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
