<h2> Новая конечная точка ИОА была добавлена в <%= @application_name %> </h2>
<p> Название: <%= @oai_endpoint.title %> </p>
<p> Ури: <%= @oai_endpoint.uri %> </p>
<p> Управление каналами: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
