<h2> Yeni bir yem <%= @application_name %> eklendi </h2>
<p> Title: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Yönetmek beslemeleri: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
