<h2> Isang bagong feed ay naidagdag na sa <%= @application_name %> </h2>
<p> Title: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Pamahalaan ang mga feed: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
