<h2 style=";text-align:right;direction:rtl"> נקודת קצה oai חדשה נוספה <%= @application_name %> </h2>
<p style=";text-align:right;direction:rtl"> כותרת: <%= @oai_endpoint.title %> </p>
<p style=";text-align:right;direction:rtl"> אורי: <%= @oai_endpoint.uri %> </p>
<p style=";text-align:right;direction:rtl"> ניהול הזנות: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
