<h2> Nov OAI končni rezultat je bil dodan <%= @application_name %> </h2>
<p> Naslov: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Delo z viri: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
