<h2> Eine neue oai Endpunkt wurde hinzugefügt, um <%= @application_name %> </h2>
<p> Titel: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Verwalten von RSS-Feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
