<h2> En ny feed er lagt til <%= @application_name %> </h2>
<p> Tittel: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Behandle feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
