<h2> Un point de terminaison oai nouveau a été ajouté à <%= @application_name %> </h2>
<p> Titre: <%= @oai_endpoint.title %> </p>
<p> Uri: <%= @oai_endpoint.uri %> </p>
<p> Gérer les flux: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
