<h2> Nový zdroj byl přidán <%= @application_name %> </h2>
<p> Název: <%= @feed.title %> </p>
<p> Uri: <%= @feed.uri %> </p>
<p> Správa kanálů: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
