<h2 style=";text-align:right;direction:rtl"> اشتراک جدید اضافه شده است به <%= @application_name %> </h2>
<p style=";text-align:right;direction:rtl"> عنوان : <%= @feed.title %> </p>
<p style=";text-align:right;direction:rtl"> نوع : <%= @feed.uri %> </p>
<p style=";text-align:right;direction:rtl"> خوردها مدیریت : <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
