<h2> Ένα νέο ζωοτροφές έχει προστεθεί <%= @application_name %> </h2>
<p> Τίτλος: <%= @feed.title %> </p>
<p> URI: <%= @feed.uri %> </p>
<p> Διαχειριστείτε feeds: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
