<h2> Нови ОАИ гране је додат <%= @application_name %> </h2>
<p> Наслов: <%= @oai_endpoint.title %> </p>
<p> Ури: <%= @oai_endpoint.uri %> </p>
<p> Управљање извори: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
