<h2> एक नई फ़ीड की <%= @application_name %> जोड़ दिया गया है </h2>
<p> शीर्षक: <%= @feed.title %> </p>
<p> उड़ी: <%= @feed.uri %> </p>
<p> प्रबंधित फ़ीड: <%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
