<h2>新威端点已被添加到<%= @application_name %> </h2>
<p>标题：<%= @oai_endpoint.title %> </p>
<p>地址：<%= @oai_endpoint.uri %> </p>
<p>管理供稿：<%= link_to feeds_path(:order => 'created_at', :asc => 'false'), feeds_path(:order => 'created_at', :asc => 'false') %> </p>
